<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
        <property name="hibernate.connection.url">jdbc:sqlserver://localhost;databaseName=raoSystem</property>
        <property name="hibernate.connection.username">sa</property>
        <property name="hibernate.connection.password">knsa</property>
		 <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
		<property name="hibernate.connection.pool_size">10</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		
		<property name="hibernate.proc.param_null_passing">true</property>		

		<mapping class="com.rao.System.ContactUs.GenEnqModel"/>
		<mapping class="com.rao.System.ContactUs.BusEnqModel"/>
		<mapping class="com.rao.System.ContactUs.ClbEnqModel"/>
		<mapping class="com.rao.System.ContactUs.PDEnqModel"/>
		<mapping class="com.rao.System.RwaReg.RwaRegModel"/>
		<mapping class="com.rao.System.MASItem.ItemModel"/>
		<mapping class="com.rao.System.AptInventory.AptInventoryModel"/>
		<mapping class="com.rao.System.AptInventory.RwaSubscriptionModel"/>

		<mapping class="com.rao.System.Visitor.VisitorGPModel"/>
		<mapping class="com.rao.System.Visitor.VisitorAddressModel"/>

		<mapping class="com.raoSystem.FLTOWN.HFlatOwnerModel"/>
		<mapping class="com.raoSystem.FLTOWN.HFlatOwnerAddress"/>
		<mapping class="com.raoSystem.FLTOWN.HVehicleInfoModel"/>
		<mapping class="com.raoSystem.FLTOWN.HVehicleTypeModel"/>

		<mapping class="com.raoSystem.Dweller.TenantAddresInfoModel"/>
		<mapping class="com.raoSystem.Dweller.TenantInfoModel"/>

		
		<mapping class="com.raoSystem.Utility.CountryList"/>
		<mapping class="com.raoSystem.Utility.Collaboration"/>
		<mapping class="com.raoSystem.Utility.ProductDemo"/>
		<mapping class="com.raoSystem.Utility.ValidRwaNo"/>
		<mapping class="com.raoSystem.Utility.ValidEmail"/>
		<mapping class="com.raoSystem.Utility.InitialValueModel"/>
		<mapping class="com.rao.System.UserLogin.UserLoginModel"/>
		<mapping class="com.rao.System.UserLogin.UserAddress"/>
		<mapping class="com.rao.System.ConfigSetting.ConfigSettingModel"/>
		
    </session-factory>
</hibernate-configuration>