<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
        <property name="hibernate.connection.url">jdbc:sqlserver://localhost;databaseName=raoSystem</property>
        <property name="hibernate.connection.username">sa</property>
        <property name="hibernate.connection.password">knsa</property>
		 <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
		<property name="hibernate.connection.pool_size">20</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		
		<property name="hibernate.proc.param_null_passing">true</property>		

		<mapping class="com.rao.System.ContactUs.GenEnqModel"/>
		<mapping class="com.rao.System.ContactUs.BusEnqModel"/>
		<mapping class="com.rao.System.ContactUs.ClbEnqModel"/>
		<mapping class="com.rao.System.ContactUs.PDEnqModel"/>
		<mapping class="com.rao.System.RwaReg.RwaRegModel"/>
		<mapping class="com.rao.System.MASItem.ItemModel"/>
		<mapping class="com.rao.System.AptInventory.AptInventoryModel"/>
		<mapping class="com.rao.System.AptInventory.RwaSubscriptionModel"/>

		<mapping class="com.rao.System.Visitor.VisitorGPModel"/>
		<mapping class="com.rao.System.Visitor.VisitorAddressModel"/>

		<mapping class="com.raoSystem.FLTOWN.HFlatOwnerModel"/>
		<mapping class="com.raoSystem.FLTOWN.HFlatOwnerAddress"/>
		<mapping class="com.raoSystem.FLTOWN.HVehicleInfoModel"/>
		<mapping class="com.raoSystem.FLTOWN.HVehicleTypeModel"/>

		<mapping class="com.raoSystem.Dweller.TenantAddresInfoModel"/>
		<mapping class="com.raoSystem.Dweller.TenantInfoModel"/>

		
		<mapping class="com.raoSystem.Utility.CountryList"/>
		<mapping class="com.raoSystem.Utility.Collaboration"/>
		<mapping class="com.raoSystem.Utility.ProductDemo"/>
		<mapping class="com.raoSystem.Utility.ValidRwaNo"/>
		<mapping class="com.raoSystem.Utility.ValidEmail"/>
		<mapping class="com.raoSystem.Utility.InitialValueModel"/>
		<mapping class="com.rao.System.UserLogin.UserLoginModel"/>
		<mapping class="com.rao.System.UserLogin.UserAddress"/>
		<mapping class="com.rao.System.ConfigSetting.ConfigSettingModel"/>

		<!-- SMSI User Role Based Access  -->
		<mapping class="com.sm.System.URBAccess.UserRolesModel"/>
		<mapping class="com.sm.System.URBAccess.UserRolesAccessModel"/>
		<mapping class="com.sm.System.URBAccess.UserRolesDetailsModel"/>
		<mapping class="com.sm.System.URBAccess.UserRolesDetailsSubModel"/>

		<!-- SMSI User Login  -->
		<mapping class="com.sm.System.UserLogin.UserLoginSMSIModel"/>
		<mapping class="com.sm.System.UserLogin.UserSMSIAddress"/>
		<mapping class="com.sm.System.URBAccess.SMSIUserLoginSubModel"/>
		<mapping class="com.sm.System.URBAccess.SMSIUserLoginModel"/>

		<mapping class="com.sm.System.SchoolInformation.SchoolInfoModel"/>
		<mapping class="com.sm.System.SchoolInformation.Address"/>
		<mapping class="com.sm.System.SchoolInformation.Email"/>
		<mapping class="com.sm.System.SchoolInformation.SocialMedia"/>

		<mapping class="com.sm.System.SubjectMaster.Subjects"/>

		<!-- student personal Information  -->
		<mapping class="com.sm.System.StudentPersonalInfo.StudentPersonalInfoModel"/>
<!-- 		<mapping class="com.sm.System.StudentPersonalInfo.SParentInfo"/> -->
<!-- 		<mapping class="com.sm.System.StudentPersonalInfo.SAddressInfo"/> -->
		<mapping class="com.sm.System.StudentPersonalInfo.StudentAddress"/>
		<mapping class="com.sm.System.StudentPersonalInfo.SBankDetailInfo"/>
		<mapping class="com.sm.System.StudentPersonalInfo.SIdProof"/>
		
		<!-- student Fee payment -->
		<mapping class="com.sm.StudentFeePayment.SFeePayment"/>
		<mapping class="com.sm.StudentFeePayment.FeeChqDDPayment"/>

		<!--  Fee Type -->
		<mapping class="com.sm.System.FeeType.FeeTypeModel"/>

		<!--  Fee Define -->
		<mapping class="com.sm.System.FeeDefine.FeeDefineModel"/>
		<mapping class="com.sm.System.FeeDefine.FeePrgrammeModel"/>
		<!--  Student Attendance Model -->
		<mapping class="com.sm.System.StudentAttendance.StudentAttendanceModel"/>
		<!--  Student Test Performance Model -->
		<mapping class="com.sm.System.TestPerformance.TestPerformanceModel"/>
		<mapping class="com.sm.System.TestPerformance.MarksDetialModel"/>
		<mapping class="com.sm.System.TestPerformance.MarksDetailSubModel"/>
		<!--  Student Time Table Model -->
		<mapping class="com.sm.System.TimeTable.TimeTableModel"/>
		<mapping class="com.sm.System.TimeTable.TimeTableDetailModel"/>
		<mapping class="com.sm.System.TimeTable.TimeTableSubModel"/>
		<!--  Faculty and Faculty Model -->
		<mapping class="com.sm.System.Faculty.FacultyModel"/> 
		<!--  Faculty and Faculty Member Model -->
 		<mapping class="com.sm.System.Faculty.FacultyMemberModel"/> 
		<mapping class="com.sm.System.Faculty.FacultyMemberAddressModel"/>  

		<!--  Book Master Information -->
 		<mapping class="com.SLIBM.System.BooksMaster.BooksMasterInfoModel"/> 
 		<mapping class="com.SLIBM.System.BooksMaster.BooksMasterQtyModel"/> 
 		
		<!--  Book Purchase -->
 		<mapping class="com.SLIBM.System.BooksPurchase.BooksPurchaseModel"/> 
 		<mapping class="com.SLIBM.System.BooksPurchase.BooksPurchaseDetailModel"/> 
 		<mapping class="com.SLIBM.System.BooksPurchase.BooksPurchaseDetailSubModel"/> 
		<!--  Book Borrowed -->
 		<mapping class="com.SLIBM.System.BooksIssue.BooksBorrowModel"/> 
 		
		<!--  Book Borrowed Return -->
 		<mapping class="com.SLIBM.System.BooksBorrowedReturn.BookBorrowedReturnModel"/> 
<!-- 		<mapping class="com.SLIBM.System.BooksBorrowedReturn.UserInfo"/>  -->

		<!--  Supplier Master -->
 		<mapping class="com.sm.System.SupplierMaster.SupplierMasterModel"/> 
		<mapping class="com.sm.System.SupplierMaster.SupplierMasterAddressModel"/> 
		<mapping class="com.sm.System.SupplierMaster.SupplierMasterContact"/> 
		<!--  Sport Item Master -->
		<mapping class="com.Sprots.System.SportItemMaster.ItemMasterModel"/> 
<!-- 		<mapping class="com.sm.System.ItemMaster.ItemMasterModel"/> -->
		<!--  Opening Balance -->
		<mapping class="com.sm.System.ItemMasterOPBal.SMItemMasterOPBalSubModel"/>
		<mapping class="com.sm.System.ItemMasterOPBal.SMItemMasterOPCLBalSubModel"/>
		<mapping class="com.sm.System.ItemMasterOPBal.SMItemMasterOPBalModel"/>
		<mapping class="com.sm.System.ItemMasterOPBal.SMItemMasterOPCLBalModel"/>

		<!--  Item borrowed -->
		<mapping class="com.sm.System.ItemBorrow.SMItemBorrowedModel"/>		 		
		<mapping class="com.sm.System.ItemBorrow.SMItemBorrowedSubModel"/>		 		
		<!--  Item returned -->
		<mapping class="com.sm.System.ItemReturn.SMItemReturnSubModel"/>		 		
		<mapping class="com.sm.System.ItemReturn.SMItemReturnModel"/>	
		
		<!--  Item Lost -->
		<mapping class="com.sm.System.ItemLost.SMItemLostSubModel"/>		 		
		<mapping class="com.sm.System.ItemLost.SMItemLostModel"/>	
		<!--  route Master -->
		<mapping class="com.sm.System.Transport.RouteModel"/>	
		<mapping class="com.sm.System.Transport.RouteSubModel"/>		 		
		<!-- <mapping class="com.sm.System.Transport.RoutePickUpSubDropModel"/> 		 -->
		<mapping class="com.sm.System.Transport.RoutePickUpDropModel"/> 		
		<mapping class="com.sm.System.Transport.RoutePickUpDropSubModel"/> 		

		<!-- Student pickup drop "/> 		 -->
		<mapping class="com.sm.System.SMPickupDrop.SMPickupDropModel"/> 		
		<mapping class="com.sm.System.SMPickupDrop.SMPickupDropSubModel"/> 		

    </session-factory>
</hibernate-configuration>