@charset "ISO-8859-1";
 .dropdown:hover .dropdown-menu { 
      display: block; 
 } 
input:invalid{
	box-shadow:none;
/* 	box-shadow:0 0 .25px .5px red; */
}
input:focus:invalid{
box-shadow:none;
}
#ItemHd0{
	box-shadow:0 0 5px 1px yellow;
}
#inv02{
	box-shadow:0 0 5px 1px blue;
padding-top:2px; padding-bottom:2px;
}
#inv01{
	
background-color: linear-gradient( #051937, #004d7a, #008793, #00bf72, #a8eb12);
} 
#InvItemDetails_paginate{
	line-height:1rem; 
	font-size:10px;	
}
.dataTables_length{bg-primary: text-light;} 
table.dataTable.compact thead th, table.dataTable.compact thead td {
    padding: 10px 17px 4px 4px;
}
#POItemDetails_filter{
background-color: #17a2b8;
	text-color:white;	
}
#InvItem01{
padding-top:2px; padding-bottom:2px;	
} 
#POItemDetails_length{
	background-color: #17a2b8;
	text-color:white;
}
.bg-info {
    background-color: #17a2b8 ;
    color:white;
}
#POItemDetails_paginate {
    float: right;
    background-color: #17a2b8;
    padding-top:2px;
    padding-bottom:2px;
    color:white;
    line-height:.85rem;
    color:light;
}
#POItemDetails_info{
   background-color: #17a2b8;
    color:white;
    line-height:.85rem;
    color:light;
	
}
thead{
	  background-color: #17a2b8;
	  color:white;
	  color:ligth
}
#megha_menu{
	width:800px;
	overflow:hidden;
	padding-left:10px;
}
p{
	margin-bottom: .25rem;
}
.dropdown:hover .dropdown-menu { 
    display: block; 
}    
#dropdn:hover .dropdown-menu { 
    display: block; 
} 
#blineb{
	 border-bottom: 1px solid blue;
	 border-left: 1px solid blue;
}
.blinebl{
	 border-bottom: 1px solid blue;
	 border-left: 1px solid blue;
}
.blineTl{
	 border-top: 1px solid blue;
	 border-right: 1px solid blue;
}
.blineb{
	 border-bottom: 1px solid green;
	 border-left: 1px solid green;
}
.blineg{
	 border-bottom: 1px solid green;
	 border-left: 1px solid green;
}
.blined{
	 border-bottom: 1px solid black;
	 border-left: 1px solid black;
}
.blinew{
	 border-bottom: 1px solid #FFC30F;
	 border-left: 1px solid #FFC30F;
}

.blinebr{
	 border-bottom: 1px solid green;
	 border-right: 1px solid green;
}

#texareabotmcolorg{
	font-size:11px; color:blue	;
}




/*
n 10.0.19043.1165]
(c) Microsoft Corporation. All rights reserved.

E:\PROJECT\JAVA>git clone https://github.com/KARUNANIDHIRAI/BEGINNER.git // clone repository


E:\PROJECT\JAVA\BEGINNER>git checkout -b "DEMO1"  
Switched to a new branch 'DEMO1'

E:\PROJECT\JAVA\BEGINNER>git checkout -b "DEMO2"
Switched to a new branch 'DEMO2'

E:\PROJECT\JAVA\BEGINNER>git branch   // listout all branches existed in the remot repository
  DEMO1
* DEMO2
  main

E:\PROJECT\JAVA\BEGINNER>git checkout "DEMO1"
Switched to branch 'DEMO1'

E:\PROJECT\JAVA\BEGINNER>git status    // will check status on which branch currently pointed
On branch DEMO1
nothing to commit, working tree clean

E:\PROJECT\JAVA\BEGINNER>git add .  // add single file updated 

E:\PROJECT\JAVA\BEGINNER>git add --all  // add all file updated 


E:\PROJECT\JAVA\BEGINNER>git status  // show the list of file redy to commit
On branch DEMO1
Changes to be committed:
  (use "git restore --staged <file>..." to unstage)
        new file:   testc++.cpp


E:\PROJECT\JAVA\BEGINNER>git commit -m "test1"  // commit on local branch
[DEMO1 b2c5621] test1
 1 file changed, 8 insertions(+)
 create mode 100644 testc++.cpp

E:\PROJECT\JAVA\BEGINNER>git status
On branch DEMO1
nothing to commit, working tree clean

E:\PROJECT\JAVA\BEGINNER>git push origin -u "DEMO1"  //  push to remote repository in DEMO1 BRANCH
Enumerating objects: 4, done.
Counting objects: 100% (4/4), done.
Delta compression using up to 4 threads
Compressing objects: 100% (3/3), done.
Writing objects: 100% (3/3), 368 bytes | 368.00 KiB/s, done.
Total 3 (delta 0), reused 0 (delta 0), pack-reused 0
remote:
remote: Create a pull request for 'DEMO1' on GitHub by visiting:
remote:      https://github.com/KARUNANIDHIRAI/BEGINNER/pull/new/DEMO1
remote:
To https://github.com/KARUNANIDHIRAI/BEGINNER.git
 * [new branch]      DEMO1 -> DEMO1
Branch 'DEMO1' set up to track remote branch 'DEMO1' from 'origin'.

E:\PROJECT\JAVA\BEGINNER>
*/
