<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>CaptchServlet</servlet-name>
  	<display-name>CaptchServlet</display-name>
  	<description></description>
  	<servlet-class>com.raoSystem.captcha.CaptchServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginCheck</servlet-name>
  	<display-name>LoginCheck</display-name>
  	<description></description>
  	<servlet-class>com.raoSystem.login.LoginCheck</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>userRegCheck</servlet-name>
  	<display-name>userRegCheck</display-name>
  	<description></description>
  	<servlet-class>com.raoSystem.userRegistration.userRegCheck</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>getEmailVerify</servlet-name>
  	<display-name>getEmailVerify</display-name>
  	<description></description>
  	<servlet-class>com.raoSystem.password.getEmailVerify</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>verifyUserLoginID</servlet-name>
  	<display-name>verifyUserLoginID</display-name>
  	<description></description>
  	<servlet-class>com.raoSystem.password.verifyUserLoginID</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdatePassword</servlet-name>
  	<display-name>UpdatePassword</display-name>
  	<description></description>
  	<servlet-class>com.raoSystem.password.UpdatePassword</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdatePWD</servlet-name>
  	<display-name>UpdatePWD</display-name>
  	<description></description>
  	<servlet-class>com.raoSystem.password.UpdatePWD</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GenerateOTPmailOTP</servlet-name>
  	<display-name>GenerateOTPmailOTP</display-name>
  	<description></description>
  	<servlet-class>com.raoSystem.password.GenerateOTPmailOTP</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GenOTPmailOTP</servlet-name>
  	<display-name>GenOTPmailOTP</display-name>
  	<description></description>
  	<servlet-class>com.raoSystem.password.GenOTPmailOTP</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ProcessNewPassword</servlet-name>
  	<display-name>ProcessNewPassword</display-name>
  	<description></description>
  	<servlet-class>com.raoSystem.password.ProcessNewPassword</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserRole</servlet-name>
  	<display-name>UserRole</display-name>
  	<description></description>
  	<servlet-class>com.raoSystem.userLoginRegistration.UserRole</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserCreate</servlet-name>
  	<display-name>UserCreate</display-name>
  	<description></description>
  	<servlet-class>com.raoSystem.createUser.UserCreate</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserRegCheck</servlet-name>
  	<display-name>UserRegCheck</display-name>
  	<description></description>
  	<servlet-class>com.raoSystem.userRegistration.UserRegCheck</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TestServlet</servlet-name>
  	<display-name>TestServlet</display-name>
  	<description></description>
  	<servlet-class>com.raoSystem.createUser.TestServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SearchUser</servlet-name>
  	<display-name>SearchUser</display-name>
  	<description></description>
  	<servlet-class>com.raoSystem.userRegistration.SearchUser</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditLoginUser</servlet-name>
  	<display-name>EditLoginUser</display-name>
  	<description></description>
  	<servlet-class>com.raoSystem.userRegistration.EditLoginUser</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SSPInformation</servlet-name>
  	<display-name>SSPInformation</display-name>
  	<description></description>
  	<servlet-class>com.rao.System.SSP.SSPInformation</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SSPInfoCheck</servlet-name>
  	<display-name>SSPInfoCheck</display-name>
  	<description></description>
  	<servlet-class>com.rao.System.SSP.SSPInfoCheck</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SSPInfoEdit</servlet-name>
  	<display-name>SSPInfoEdit</display-name>
  	<description></description>
  	<servlet-class>com.rao.System.SSP.SSPInfoEdit</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateSSPInfo</servlet-name>
  	<display-name>UpdateSSPInfo</display-name>
  	<description></description>
  	<servlet-class>com.rao.System.SSP.DaoUpdateSSPInfo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SSPInfoUpdate</servlet-name>
  	<display-name>SSPInfoUpdate</display-name>
  	<description></description>
  	<servlet-class>com.rao.System.SSP.SSPInfoUpdate</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DRVInfoCheck</servlet-name>
  	<display-name>DRVInfoCheck</display-name>
  	<description></description>
  	<servlet-class>com.rao.System.DRV.DRVInfoCheck</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DRVInformation</servlet-name>
  	<display-name>DRVInformation</display-name>
  	<description></description>
  	<servlet-class>com.rao.System.DRV.DRVInformation</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DRVInfoUpdate</servlet-name>
  	<display-name>DRVInfoUpdate</display-name>
  	<description></description>
  	<servlet-class>com.rao.System.DRV.DRVInfoUpdate</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>HKMInformation</servlet-name>
  	<display-name>HKMInformation</display-name>
  	<description></description>
  	<servlet-class>com.raoSystem.HKM.HKMInformation</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>HKMInofCheck</servlet-name>
  	<display-name>HKMInofCheck</display-name>
  	<description></description>
  	<servlet-class>com.raoSystem.HKM.HKMInofCheck</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>HKMNewInfoCheck</servlet-name>
  	<display-name>HKMNewInfoCheck</display-name>
  	<description></description>
  	<servlet-class>com.raoSystem.HKM.HKMNewInfoCheck</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>HKMInfoUpdate</servlet-name>
  	<display-name>HKMInfoUpdate</display-name>
  	<description></description>
  	<servlet-class>com.raoSystem.HKM.HKMInfoUpdate</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FLTOwnerNewInfoCheck</servlet-name>
  	<display-name>FLTOwnerNewInfoCheck</display-name>
  	<description></description>
  	<servlet-class>com.raoSystem.daoConnection.FLTOwnerNewInfoCheck</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FlatOwnerNewInfoCheck</servlet-name>
  	<display-name>FlatOwnerNewInfoCheck</display-name>
  	<description></description>
  	<servlet-class>com.raoSystem.FLTOWN.FlatOwnerNewInfoCheck</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FlatOwnerInformation</servlet-name>
  	<display-name>FlatOwnerInformation</display-name>
  	<description></description>
  	<servlet-class>com.raoSystem.FLTOWN.FlatOwnerInformation</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FlatOwnerUpdateInfoCehck</servlet-name>
  	<display-name>FlatOwnerUpdateInfoCehck</display-name>
  	<description></description>
  	<servlet-class>com.raoSystem.FLTOWN.FlatOwnerUpdateInfoCehck</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DwellerInformation</servlet-name>
  	<display-name>DwellerInformation</display-name>
  	<description></description>
  	<servlet-class>com.raoSystem.Dweller.DwellerInformation</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DwellerNewInfoCheck</servlet-name>
  	<display-name>DwellerNewInfoCheck</display-name>
  	<description></description>
  	<servlet-class>com.raoSystem.Dweller.DwellerNewInfoCheck</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DwellerUpdateInfoCehck</servlet-name>
  	<display-name>DwellerUpdateInfoCehck</display-name>
  	<description></description>
  	<servlet-class>com.raoSystem.Dweller.DwellerUpdateInfoCehck</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DwellerViewInfoCheck</servlet-name>
  	<display-name>DwellerViewInfoCheck</display-name>
  	<description></description>
  	<servlet-class>com.raoSystem.Dweller.DwellerViewInfoCheck</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DwellerUpdateInformation</servlet-name>
  	<display-name>DwellerUpdateInformation</display-name>
  	<description></description>
  	<servlet-class>com.raoSystem.Dweller.DwellerUpdateInformation</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>viewInfosrvl</servlet-name>
  	<display-name>viewInfosrvl</display-name>
  	<description></description>
  	<servlet-class>com.rao.System.MIS.viewInfosrvl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ShowIndividualInfo</servlet-name>
  	<display-name>ShowIndividualInfo</display-name>
  	<description></description>
  	<servlet-class>com.rao.System.MIS.ShowIndividualInfo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ApartmentInformation</servlet-name>
  	<display-name>ApartmentInformation</display-name>
  	<description></description>
  	<servlet-class>com.rao.System.Apartment.ApartmentInformation</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>APTNewInfo</servlet-name>
  	<display-name>APTNewInfo</display-name>
  	<description></description>
  	<servlet-class>com.rao.System.Apartment.APTNewInfo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>APTUpdateInformation</servlet-name>
  	<display-name>APTUpdateInformation</display-name>
  	<description></description>
  	<servlet-class>com.rao.System.Apartment.APTUpdateInformation</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RwaSubscriptionInfo</servlet-name>
  	<display-name>RwaSubscriptionInfo</display-name>
  	<description></description>
  	<servlet-class>com.rao.System.Apartment.RwaSubscriptionInfo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>NewRwaSubscription</servlet-name>
  	<display-name>NewRwaSubscription</display-name>
  	<description></description>
  	<servlet-class>com.rao.System.Apartment.NewRwaSubscription</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>NewAPTInventory</servlet-name>
  	<display-name>NewAPTInventory</display-name>
  	<description></description>
  	<servlet-class>com.rao.System.Apartment.NewAPTInventory</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditAPTInventory</servlet-name>
  	<display-name>EditAPTInventory</display-name>
  	<description></description>
  	<servlet-class>com.rao.System.Apartment.EditAPTInventory</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditRwaSubscription</servlet-name>
  	<display-name>EditRwaSubscription</display-name>
  	<description></description>
  	<servlet-class>com.rao.System.Apartment.EditRwaSubscription</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditRwaSubscriptions</servlet-name>
  	<display-name>EditRwaSubscriptions</display-name>
  	<description></description>
  	<servlet-class>com.rao.System.Apartment.EditRwaSubscriptions</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RwaSubscriptionList</servlet-name>
  	<display-name>RwaSubscriptionList</display-name>
  	<description></description>
  	<servlet-class>com.rao.System.Apartment.RwaSubscriptionList</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>IteratorExample</servlet-name>
  	<display-name>IteratorExample</display-name>
  	<description></description>
  	<servlet-class>com.rao.System.Apartment.IteratorExample</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RwaSubscriptionReport</servlet-name>
  	<display-name>RwaSubscriptionReport</display-name>
  	<description></description>
  	<servlet-class>com.rao.System.MIS.RwaSubscriptionReport</servlet-class>
  </servlet>
 
<!--   <servlet>
  	<servlet-name>WaterTankerInfo</servlet-name>
  	<display-name>WaterTankerInfo</display-name>
  	<description></description>
  	<servlet-class>com.rao.System.WaterTanker.WaterTankerInfo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>NewTankerInfo</servlet-name>
  	<display-name>NewTankerInfo</display-name>
  	<description></description>
  	<servlet-class>com.rao.System.WaterTanker.NewTankerInfo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>NewWaterTankerInfo</servlet-name>
  	<display-name>NewWaterTankerInfo</display-name>
  	<description></description>
  	<servlet-class>com.rao.System.WaterTanker.NewWaterTankerInfo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>WaterTankerSupSumm</servlet-name>
  	<display-name>WaterTankerSupSumm</display-name>
  	<description></description>
  	<servlet-class>com.rao.System.WaterTanker.WaterTankerSupSumm</servlet-class>
  </servlet>
 <servlet>
  	<servlet-name>CreateWaterTankerInfo</servlet-name>
  	<display-name>CreateWaterTankerInfo</display-name>
  	<description></description>
  	<servlet-class>com.rao.System.WaterTanker.CreateWaterTankerInfo</servlet-class>
  </servlet>
 
  -->
  <servlet>
  	<servlet-name>NewWaterTanker</servlet-name>
  	<display-name>NewWaterTanker</display-name>
  	<description></description>
  	<servlet-class>com.rao.System.WaterTankerEntry.NewWaterTanker</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>WaterTankerMainInfo</servlet-name>
  	<display-name>WaterTankerMainInfo</display-name>
  	<description></description>
  	<servlet-class>com.rao.System.WaterTankerEntry.WaterTankerMainInfo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SummaryWaterTanker</servlet-name>
  	<display-name>SummaryWaterTanker</display-name>
  	<description></description>
  	<servlet-class>com.rao.System.WaterTankerEntry.SummaryWaterTanker</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditWaterTanker</servlet-name>
  	<display-name>EditWaterTanker</display-name>
  	<description></description>
  	<servlet-class>com.rao.System.WaterTankerEntry.EditWaterTanker</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PurMatInfo</servlet-name>
  	<display-name>PurMatInfo</display-name>
  	<description></description>
  	<servlet-class>com.rao.System.PurchaseMaterial.PurMatInfo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PurMatMainPage</servlet-name>
  	<display-name>PurMatMainPage</display-name>
  	<description></description>
  	<servlet-class>com.rao.System.PurchaseMaterial.PurMatMainPage</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>NewPurMaterial</servlet-name>
  	<display-name>NewPurMaterial</display-name>
  	<description></description>
  	<servlet-class>com.rao.System.PurchaseMaterial.NewPurMaterial</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditPurMaterial</servlet-name>
  	<display-name>EditPurMaterial</display-name>
  	<description></description>
  	<servlet-class>com.rao.System.PurchaseMaterial.EditPurMaterial</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewPurMaterial</servlet-name>
  	<display-name>ViewPurMaterial</display-name>
  	<description></description>
  	<servlet-class>com.rao.System.PurchaseMaterial.ViewPurMaterial</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>test</servlet-name>
  	<display-name>test</display-name>
  	<description></description>
  	<servlet-class>com.rao.System.PurchaseMaterial.test</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TempPOInfo</servlet-name>
  	<display-name>TempPOInfo</display-name>
  	<description></description>
  	<servlet-class>com.rao.System.PO.TempPOInfo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>NewPO</servlet-name>
  	<display-name>NewPO</display-name>
  	<description></description>
  	<servlet-class>com.rao.System.PO.NewPO</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>POSummary</servlet-name>
  	<display-name>POSummary</display-name>
  	<description></description>
  	<servlet-class>com.rao.System.PO.POSummary</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditPO</servlet-name>
  	<display-name>EditPO</display-name>
  	<description></description>
  	<servlet-class>com.rao.System.PO.EditPO</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>newServWork</servlet-name>
  	<display-name>newServWork</display-name>
  	<description></description>
  	<servlet-class>com.rao.System.MaintWork.newServWork</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TempNewServWork</servlet-name>
  	<display-name>TempNewServWork</display-name>
  	<description></description>
  	<servlet-class>com.rao.System.MaintWork.TempNewServWork</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>NewMaintWork</servlet-name>
  	<display-name>NewMaintWork</display-name>
  	<description></description>
  	<servlet-class>com.rao.System.MaintWork.NewMaintWork</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MainMWorkPage</servlet-name>
  	<display-name>MainMWorkPage</display-name>
  	<description></description>
  	<servlet-class>com.rao.System.MaintWork.MainMWorkPage</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ItemMainInfo</servlet-name>
  	<display-name>ItemMainInfo</display-name>
  	<description></description>
  	<servlet-class>com.rao.System.MASItem.ItemMainInfo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ContactUsInfo</servlet-name>
  	<display-name>ContactUsInfo</display-name>
  	<description></description>
  	<servlet-class>com.rao.System.ContactUs.ContactUsInfo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RwaInfo</servlet-name>
  	<display-name>RwaInfo</display-name>
  	<description></description>
  	<servlet-class>com.rao.System.RwaReg.RwaInfo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ValidateUserLogin</servlet-name>
  	<display-name>ValidateUserLogin</display-name>
  	<description></description>
  	<servlet-class>com.raoSystem.login.ValidateUserLogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserLoginInfo</servlet-name>
  	<display-name>UserLoginInfo</display-name>
  	<description></description>
  	<servlet-class>com.rao.System.UserLogin.UserLoginInfo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserLoginValidate</servlet-name>
  	<display-name>UserLoginValidate</display-name>
  	<description></description>
  	<servlet-class>com.rao.System.UserLogin.UserLoginValidate</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ValidateULPasswordOTP</servlet-name>
  	<display-name>ValidateULPasswordOTP</display-name>
  	<description></description>
  	<servlet-class>com.rao.System.UserLogin.ValidateULPasswordOTP</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserLoginInfoValidate</servlet-name>
  	<display-name>UserLoginInfoValidate</display-name>
  	<description></description>
  	<servlet-class>com.rao.System.UserLogin.UserLoginInfoValidate</servlet-class>
  </servlet>

  <servlet>
  	<servlet-name>ConfigInfo</servlet-name>
  	<display-name>ConfigInfo</display-name>
  	<description></description>
  	<servlet-class>com.rao.System.ConfigSetting.ConfigInfo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SettingConfig</servlet-name>
  	<display-name>SettingConfig</display-name>
  	<description></description>
  	<servlet-class>com.rao.System.ConfigSetting.SettingConfig</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AptInfo</servlet-name>
  	<display-name>AptInfo</display-name>
  	<description></description>
  	<servlet-class>com.rao.System.AptInventory.AptInfo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SubscriptionInfo</servlet-name>
  	<display-name>SubscriptionInfo</display-name>
  	<description></description>
  	<servlet-class>com.rao.System.AptInventory.SubscriptionInfo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VisitorInfo</servlet-name>
  	<display-name>VisitorInfo</display-name>
  	<description></description>
  	<servlet-class>com.rao.System.Visitor.VisitorInfo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VisitorGPInfo</servlet-name>
  	<display-name>VisitorGPInfo</display-name>
  	<description></description>
  	<servlet-class>com.rao.System.Visitor.VisitorInfo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>HFlatOwnerInfo</servlet-name>
  	<display-name>HFlatOwnerInfo</display-name>
  	<description></description>
  	<servlet-class>com.raoSystem.FLTOWN.HFlatOwnerInfo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VehicleInfo</servlet-name>
  	<display-name>VehicleInfo</display-name>
  	<description></description>
  	<servlet-class>com.raoSystem.FLTOWN.VehicleInfo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TenantInfo</servlet-name>
  	<display-name>TenantInfo</display-name>
  	<description></description>
  	<servlet-class>com.raoSystem.Dweller.TenantInfo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SchoolInfo</servlet-name>
  	<display-name>SchoolInfo</display-name>
  	<description></description>
  	<servlet-class>com.sm.System.SchoolInformation.SchoolInfo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>InfoSchool</servlet-name>
  	<display-name>InfoSchool</display-name>
  	<description></description>
  	<servlet-class>com.smsi.sm.SchoolInformation.InfoSchool</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SubjectsInfo</servlet-name>
  	<display-name>SubjectsInfo</display-name>
  	<description></description>
  	<servlet-class>com.sm.System.SubjectMaster.SubjectsInfo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SubjectInformation</servlet-name>
  	<display-name>SubjectInformation</display-name>
  	<description></description>
  	<servlet-class>com.sm.System.SubjectInformation</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SPInfo</servlet-name>
  	<display-name>SPInfo</display-name>
  	<description></description>
  	<servlet-class>com.sm.System.StudentPersonalInfo.SPInfo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StudentPInformation</servlet-name>
  	<display-name>StudentPInformation</display-name>
  	<description></description>
  	<servlet-class>com.sm.System.StudentPersonalInfo.StudentPInformation</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StudentInfoPersonal</servlet-name>
  	<display-name>StudentInfoPersonal</display-name>
  	<description></description>
  	<servlet-class>com.sm.System.StudentPersonalInfo.StudentInfoPersonal</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SFeePaymentInfo</servlet-name>
  	<display-name>SFeePaymentInfo</display-name>
  	<description></description>
  	<servlet-class>com.sm.StudentFeePayment.SFeePaymentInfo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SFType</servlet-name>
  	<display-name>SFType</display-name>
  	<description></description>
  	<servlet-class>com.sm.System.FeeType.SFType</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FeeDefineInfo</servlet-name>
  	<display-name>FeeDefineInfo</display-name>
  	<description></description>
  	<servlet-class>com.sm.System.FeeDefine.FeeDefineInfo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FeeDefineInformation</servlet-name>
  	<display-name>FeeDefineInformation</display-name>
  	<description></description>
  	<servlet-class>com.sm.System.FeeDefine.FeeDefineInformation</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StudentAttendanceInfo</servlet-name>
  	<display-name>StudentAttendanceInfo</display-name>
  	<description></description>
  	<servlet-class>com.sm.System.StudentAttendance.StudentAttendanceInfo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TestPerformence</servlet-name>
  	<display-name>TestPerformence</display-name>
  	<description></description>
  	<servlet-class>com.sm.System.TestPerformance.TestPerformence</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>STestPerformance</servlet-name>
  	<display-name>STestPerformance</display-name>
  	<description></description>
  	<servlet-class>com.sm.System.TestPerformance.STestPerformance</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StudentERP</servlet-name>
  	<display-name>StudentERP</display-name>
  	<description></description>
  	<servlet-class>com.si.System.StudentInfo.StudentERP</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StudentProfile</servlet-name>
  	<display-name>StudentProfile</display-name>
  	<description></description>
  	<servlet-class>com.si.System.StudentProfile</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TimeTableInfo</servlet-name>
  	<display-name>TimeTableInfo</display-name>
  	<description></description>
  	<servlet-class>com.sm.System.TimeTable.TimeTableInfo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FacultyInformation</servlet-name>
  	<display-name>FacultyInformation</display-name>
  	<description></description>
  	<servlet-class>com.sm.System.Faculty.FacultyInformation</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CaptchServlet</servlet-name>
  	<url-pattern>/CaptchServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginCheck</servlet-name>
  	<url-pattern>/LoginCheck</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>userRegCheck</servlet-name>
  	<url-pattern>/userRegCheck</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>getEmailVerify</servlet-name>
  	<url-pattern>/getEmailVerify</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>verifyUserLoginID</servlet-name>
  	<url-pattern>/verifyUserLoginID</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdatePassword</servlet-name>
  	<url-pattern>/UpdatePassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdatePWD</servlet-name>
  	<url-pattern>/UpdatePWD</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GenerateOTPmailOTP</servlet-name>
  	<url-pattern>/GenerateOTPmailOTP</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GenOTPmailOTP</servlet-name>
  	<url-pattern>/GenOTPmailOTP</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProcessNewPassword</servlet-name>
  	<url-pattern>/ProcessNewPassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserRole</servlet-name>
  	<url-pattern>/UserRole</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserCreate</servlet-name>
  	<url-pattern>/UserCreate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserRegCheck</servlet-name>
  	<url-pattern>/UserRegCheck</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TestServlet</servlet-name>
  	<url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SearchUser</servlet-name>
  	<url-pattern>/SearchUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditLoginUser</servlet-name>
  	<url-pattern>/EditLoginUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SSPInformation</servlet-name>
  	<url-pattern>/SSPInformation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SSPInfoCheck</servlet-name>
  	<url-pattern>/SSPInfoCheck</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SSPInfoEdit</servlet-name>
  	<url-pattern>/SSPInfoEdit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateSSPInfo</servlet-name>
  	<url-pattern>/UpdateSSPInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SSPInfoUpdate</servlet-name>
  	<url-pattern>/SSPInfoUpdate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DRVInfoCheck</servlet-name>
  	<url-pattern>/DRVInfoCheck</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DRVInformation</servlet-name>
  	<url-pattern>/DRVInformation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DRVInfoUpdate</servlet-name>
  	<url-pattern>/DRVInfoUpdate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>HKMInformation</servlet-name>
  	<url-pattern>/HKMInformation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>HKMInofCheck</servlet-name>
  	<url-pattern>/HKMInofCheck</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>HKMNewInfoCheck</servlet-name>
  	<url-pattern>/HKMNewInfoCheck</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>HKMInfoUpdate</servlet-name>
  	<url-pattern>/HKMInfoUpdate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FLTOwnerNewInfoCheck</servlet-name>
  	<url-pattern>/FLTOwnerNewInfoCheck</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FlatOwnerNewInfoCheck</servlet-name>
  	<url-pattern>/FlatOwnerNewInfoCheck</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FlatOwnerInformation</servlet-name>
  	<url-pattern>/FlatOwnerInformation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FlatOwnerUpdateInfoCehck</servlet-name>
  	<url-pattern>/FlatOwnerUpdateInfoCehck</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DwellerInformation</servlet-name>
  	<url-pattern>/DwellerInformation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DwellerNewInfoCheck</servlet-name>
  	<url-pattern>/DwellerNewInfoCheck</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DwellerUpdateInfoCehck</servlet-name>
  	<url-pattern>/DwellerUpdateInfoCehck</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DwellerViewInfoCheck</servlet-name>
  	<url-pattern>/DwellerViewInfoCheck</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DwellerUpdateInformation</servlet-name>
  	<url-pattern>/DwellerUpdateInformation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>viewInfosrvl</servlet-name>
  	<url-pattern>/viewInfosrvl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShowIndividualInfo</servlet-name>
  	<url-pattern>/ShowIndividualInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ApartmentInformation</servlet-name>
  	<url-pattern>/ApartmentInformation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>APTNewInfo</servlet-name>
  	<url-pattern>/APTNewInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>APTUpdateInformation</servlet-name>
  	<url-pattern>/APTUpdateInformation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RwaSubscriptionInfo</servlet-name>
  	<url-pattern>/RwaSubscriptionInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>NewRwaSubscription</servlet-name>
  	<url-pattern>/NewRwaSubscription</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>NewAPTInventory</servlet-name>
  	<url-pattern>/NewAPTInventory</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditAPTInventory</servlet-name>
  	<url-pattern>/EditAPTInventory</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditRwaSubscription</servlet-name>
  	<url-pattern>/EditRwaSubscription</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditRwaSubscriptions</servlet-name>
  	<url-pattern>/EditRwaSubscriptions</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RwaSubscriptionList</servlet-name>
  	<url-pattern>/RwaSubscriptionList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>IteratorExample</servlet-name>
  	<url-pattern>/IteratorExample</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RwaSubscriptionReport</servlet-name>
  	<url-pattern>/RwaSubscriptionReport</url-pattern>
  </servlet-mapping>
<!-- 
  <servlet-mapping>
  	<servlet-name>WaterTankerInfo</servlet-name>
  	<url-pattern>/WaterTankerInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>NewTankerInfo</servlet-name>
  	<url-pattern>/NewTankerInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>NewWaterTankerInfo</servlet-name>
  	<url-pattern>/NewWaterTankerInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>WaterTankerSupSumm</servlet-name>
  	<url-pattern>/WaterTankerSupSumm</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CreateWaterTankerInfo</servlet-name>
  	<url-pattern>/CreateWaterTankerInfo</url-pattern>
  </servlet-mapping>
-->
  <servlet-mapping>
  	<servlet-name>NewWaterTanker</servlet-name>
  	<url-pattern>/NewWaterTanker</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>WaterTankerMainInfo</servlet-name>
  	<url-pattern>/WaterTankerMainInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SummaryWaterTanker</servlet-name>
  	<url-pattern>/SummaryWaterTanker</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditWaterTanker</servlet-name>
  	<url-pattern>/EditWaterTanker</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PurMatInfo</servlet-name>
  	<url-pattern>/PurMatInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PurMatMainPage</servlet-name>
  	<url-pattern>/PurMatMainPage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>NewPurMaterial</servlet-name>
  	<url-pattern>/NewPurMaterial</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditPurMaterial</servlet-name>
  	<url-pattern>/EditPurMaterial</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewPurMaterial</servlet-name>
  	<url-pattern>/ViewPurMaterial</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>test</servlet-name>
  	<url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TempPOInfo</servlet-name>
  	<url-pattern>/TempPOInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>NewPO</servlet-name>
  	<url-pattern>/NewPO</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>POSummary</servlet-name>
  	<url-pattern>/POSummary</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditPO</servlet-name>
  	<url-pattern>/EditPO</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>newServWork</servlet-name>
  	<url-pattern>/newServWork</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TempNewServWork</servlet-name>
  	<url-pattern>/TempNewServWork</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>NewMaintWork</servlet-name>
  	<url-pattern>/NewMaintWork</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MainMWorkPage</servlet-name>
  	<url-pattern>/MainMWorkPage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ItemMainInfo</servlet-name>
  	<url-pattern>/ItemMainInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ContactUsInfo</servlet-name>
  	<url-pattern>/ContactUsInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RwaInfo</servlet-name>
  	<url-pattern>/RwaInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ValidateUserLogin</servlet-name>
  	<url-pattern>/ValidateUserLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserLoginInfo</servlet-name>
  	<url-pattern>/UserLoginInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserLoginValidate</servlet-name>
  	<url-pattern>/UserLoginValidate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ValidateULPasswordOTP</servlet-name>
  	<url-pattern>/ValidateULPasswordOTP</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserLoginInfoValidate</servlet-name>
  	<url-pattern>/UserLoginInfoValidate</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
  	<servlet-name>ConfigInfo</servlet-name>
  	<url-pattern>/ConfigInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SettingConfig</servlet-name>
  	<url-pattern>/SettingConfig</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AptInfo</servlet-name>
  	<url-pattern>/AptInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SubscriptionInfo</servlet-name>
  	<url-pattern>/SubscriptionInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VisitorInfo</servlet-name>
  	<url-pattern>/VisitorInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VisitorGPInfo</servlet-name>
  	<url-pattern>/VisitorGPInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>HFlatOwnerInfo</servlet-name>
  	<url-pattern>/HFlatOwnerInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VehicleInfo</servlet-name>
  	<url-pattern>/VehicleInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TenantInfo</servlet-name>
  	<url-pattern>/TenantInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SchoolInfo</servlet-name>
  	<url-pattern>/SchoolInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>InfoSchool</servlet-name>
  	<url-pattern>/InfoSchool</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SubjectsInfo</servlet-name>
  	<url-pattern>/SubjectsInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SubjectInformation</servlet-name>
  	<url-pattern>/SubjectInformation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SPInfo</servlet-name>
  	<url-pattern>/SPInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StudentPInformation</servlet-name>
  	<url-pattern>/StudentPInformation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StudentInfoPersonal</servlet-name>
  	<url-pattern>/StudentInfoPersonal</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SFeePaymentInfo</servlet-name>
  	<url-pattern>/SFeePaymentInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SFType</servlet-name>
  	<url-pattern>/SFType</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FeeDefineInfo</servlet-name>
  	<url-pattern>/FeeDefineInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FeeDefineInformation</servlet-name>
  	<url-pattern>/FeeDefineInformation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StudentAttendanceInfo</servlet-name>
  	<url-pattern>/StudentAttendanceInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TestPerformence</servlet-name>
  	<url-pattern>/TestPerformence</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>STestPerformance</servlet-name>
  	<url-pattern>/STestPerformance</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StudentERP</servlet-name>
  	<url-pattern>/StudentERP</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StudentProfile</servlet-name>
  	<url-pattern>/StudentProfile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TimeTableInfo</servlet-name>
  	<url-pattern>/TimeTableInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FacultyInformation</servlet-name>
  	<url-pattern>/FacultyInformation</url-pattern>
  </servlet-mapping>
 
 </web-app>
 