<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>CaptchServlet</servlet-name>
  	<display-name>CaptchServlet</display-name>
  	<description></description>
  	<servlet-class>com.raoSystem.captcha.CaptchServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginCheck</servlet-name>
  	<display-name>LoginCheck</display-name>
  	<description></description>
  	<servlet-class>com.raoSystem.login.LoginCheck</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>userRegCheck</servlet-name>
  	<display-name>userRegCheck</display-name>
  	<description></description>
  	<servlet-class>com.raoSystem.userRegistration.userRegCheck</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>getEmailVerify</servlet-name>
  	<display-name>getEmailVerify</display-name>
  	<description></description>
  	<servlet-class>com.raoSystem.password.getEmailVerify</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>verifyUserLoginID</servlet-name>
  	<display-name>verifyUserLoginID</display-name>
  	<description></description>
  	<servlet-class>com.raoSystem.password.verifyUserLoginID</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdatePassword</servlet-name>
  	<display-name>UpdatePassword</display-name>
  	<description></description>
  	<servlet-class>com.raoSystem.password.UpdatePassword</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdatePWD</servlet-name>
  	<display-name>UpdatePWD</display-name>
  	<description></description>
  	<servlet-class>com.raoSystem.password.UpdatePWD</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GenerateOTPmailOTP</servlet-name>
  	<display-name>GenerateOTPmailOTP</display-name>
  	<description></description>
  	<servlet-class>com.raoSystem.password.GenerateOTPmailOTP</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GenOTPmailOTP</servlet-name>
  	<display-name>GenOTPmailOTP</display-name>
  	<description></description>
  	<servlet-class>com.raoSystem.password.GenOTPmailOTP</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ProcessNewPassword</servlet-name>
  	<display-name>ProcessNewPassword</display-name>
  	<description></description>
  	<servlet-class>com.raoSystem.password.ProcessNewPassword</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserRole</servlet-name>
  	<display-name>UserRole</display-name>
  	<description></description>
  	<servlet-class>com.raoSystem.userLoginRegistration.UserRole</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserCreate</servlet-name>
  	<display-name>UserCreate</display-name>
  	<description></description>
  	<servlet-class>com.raoSystem.createUser.UserCreate</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserRegCheck</servlet-name>
  	<display-name>UserRegCheck</display-name>
  	<description></description>
  	<servlet-class>com.raoSystem.userRegistration.UserRegCheck</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TestServlet</servlet-name>
  	<display-name>TestServlet</display-name>
  	<description></description>
  	<servlet-class>com.raoSystem.createUser.TestServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SearchUser</servlet-name>
  	<display-name>SearchUser</display-name>
  	<description></description>
  	<servlet-class>com.raoSystem.userRegistration.SearchUser</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditLoginUser</servlet-name>
  	<display-name>EditLoginUser</display-name>
  	<description></description>
  	<servlet-class>com.raoSystem.userRegistration.EditLoginUser</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SSPInformation</servlet-name>
  	<display-name>SSPInformation</display-name>
  	<description></description>
  	<servlet-class>com.rao.System.SSP.SSPInformation</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SSPInfoCheck</servlet-name>
  	<display-name>SSPInfoCheck</display-name>
  	<description></description>
  	<servlet-class>com.rao.System.SSP.SSPInfoCheck</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SSPInfoEdit</servlet-name>
  	<display-name>SSPInfoEdit</display-name>
  	<description></description>
  	<servlet-class>com.rao.System.SSP.SSPInfoEdit</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateSSPInfo</servlet-name>
  	<display-name>UpdateSSPInfo</display-name>
  	<description></description>
  	<servlet-class>com.rao.System.SSP.DaoUpdateSSPInfo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SSPInfoUpdate</servlet-name>
  	<display-name>SSPInfoUpdate</display-name>
  	<description></description>
  	<servlet-class>com.rao.System.SSP.SSPInfoUpdate</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DRVInfoCheck</servlet-name>
  	<display-name>DRVInfoCheck</display-name>
  	<description></description>
  	<servlet-class>com.rao.System.DRV.DRVInfoCheck</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DRVInformation</servlet-name>
  	<display-name>DRVInformation</display-name>
  	<description></description>
  	<servlet-class>com.rao.System.DRV.DRVInformation</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DRVInfoUpdate</servlet-name>
  	<display-name>DRVInfoUpdate</display-name>
  	<description></description>
  	<servlet-class>com.rao.System.DRV.DRVInfoUpdate</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>HKMInformation</servlet-name>
  	<display-name>HKMInformation</display-name>
  	<description></description>
  	<servlet-class>com.raoSystem.HKM.HKMInformation</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>HKMInofCheck</servlet-name>
  	<display-name>HKMInofCheck</display-name>
  	<description></description>
  	<servlet-class>com.raoSystem.HKM.HKMInofCheck</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>HKMNewInfoCheck</servlet-name>
  	<display-name>HKMNewInfoCheck</display-name>
  	<description></description>
  	<servlet-class>com.raoSystem.HKM.HKMNewInfoCheck</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>HKMInfoUpdate</servlet-name>
  	<display-name>HKMInfoUpdate</display-name>
  	<description></description>
  	<servlet-class>com.raoSystem.HKM.HKMInfoUpdate</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FLTOwnerNewInfoCheck</servlet-name>
  	<display-name>FLTOwnerNewInfoCheck</display-name>
  	<description></description>
  	<servlet-class>com.raoSystem.daoConnection.FLTOwnerNewInfoCheck</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FlatOwnerNewInfoCheck</servlet-name>
  	<display-name>FlatOwnerNewInfoCheck</display-name>
  	<description></description>
  	<servlet-class>com.raoSystem.FLTOWN.FlatOwnerNewInfoCheck</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FlatOwnerInformation</servlet-name>
  	<display-name>FlatOwnerInformation</display-name>
  	<description></description>
  	<servlet-class>com.raoSystem.FLTOWN.FlatOwnerInformation</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FlatOwnerUpdateInfoCehck</servlet-name>
  	<display-name>FlatOwnerUpdateInfoCehck</display-name>
  	<description></description>
  	<servlet-class>com.raoSystem.FLTOWN.FlatOwnerUpdateInfoCehck</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DwellerInformation</servlet-name>
  	<display-name>DwellerInformation</display-name>
  	<description></description>
  	<servlet-class>com.raoSystem.Dweller.DwellerInformation</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DwellerNewInfoCheck</servlet-name>
  	<display-name>DwellerNewInfoCheck</display-name>
  	<description></description>
  	<servlet-class>com.raoSystem.Dweller.DwellerNewInfoCheck</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DwellerUpdateInfoCehck</servlet-name>
  	<display-name>DwellerUpdateInfoCehck</display-name>
  	<description></description>
  	<servlet-class>com.raoSystem.Dweller.DwellerUpdateInfoCehck</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DwellerViewInfoCheck</servlet-name>
  	<display-name>DwellerViewInfoCheck</display-name>
  	<description></description>
  	<servlet-class>com.raoSystem.Dweller.DwellerViewInfoCheck</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DwellerUpdateInformation</servlet-name>
  	<display-name>DwellerUpdateInformation</display-name>
  	<description></description>
  	<servlet-class>com.raoSystem.Dweller.DwellerUpdateInformation</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>viewInfosrvl</servlet-name>
  	<display-name>viewInfosrvl</display-name>
  	<description></description>
  	<servlet-class>com.rao.System.MIS.viewInfosrvl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ShowIndividualInfo</servlet-name>
  	<display-name>ShowIndividualInfo</display-name>
  	<description></description>
  	<servlet-class>com.rao.System.MIS.ShowIndividualInfo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ApartmentInformation</servlet-name>
  	<display-name>ApartmentInformation</display-name>
  	<description></description>
  	<servlet-class>com.rao.System.Apartment.ApartmentInformation</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>APTNewInfo</servlet-name>
  	<display-name>APTNewInfo</display-name>
  	<description></description>
  	<servlet-class>com.rao.System.Apartment.APTNewInfo</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CaptchServlet</servlet-name>
  	<url-pattern>/CaptchServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginCheck</servlet-name>
  	<url-pattern>/LoginCheck</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>userRegCheck</servlet-name>
  	<url-pattern>/userRegCheck</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>getEmailVerify</servlet-name>
  	<url-pattern>/getEmailVerify</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>verifyUserLoginID</servlet-name>
  	<url-pattern>/verifyUserLoginID</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdatePassword</servlet-name>
  	<url-pattern>/UpdatePassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdatePWD</servlet-name>
  	<url-pattern>/UpdatePWD</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GenerateOTPmailOTP</servlet-name>
  	<url-pattern>/GenerateOTPmailOTP</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GenOTPmailOTP</servlet-name>
  	<url-pattern>/GenOTPmailOTP</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProcessNewPassword</servlet-name>
  	<url-pattern>/ProcessNewPassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserRole</servlet-name>
  	<url-pattern>/UserRole</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserCreate</servlet-name>
  	<url-pattern>/UserCreate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserRegCheck</servlet-name>
  	<url-pattern>/UserRegCheck</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TestServlet</servlet-name>
  	<url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SearchUser</servlet-name>
  	<url-pattern>/SearchUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditLoginUser</servlet-name>
  	<url-pattern>/EditLoginUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SSPInformation</servlet-name>
  	<url-pattern>/SSPInformation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SSPInfoCheck</servlet-name>
  	<url-pattern>/SSPInfoCheck</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SSPInfoEdit</servlet-name>
  	<url-pattern>/SSPInfoEdit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateSSPInfo</servlet-name>
  	<url-pattern>/UpdateSSPInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SSPInfoUpdate</servlet-name>
  	<url-pattern>/SSPInfoUpdate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DRVInfoCheck</servlet-name>
  	<url-pattern>/DRVInfoCheck</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DRVInformation</servlet-name>
  	<url-pattern>/DRVInformation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DRVInfoUpdate</servlet-name>
  	<url-pattern>/DRVInfoUpdate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>HKMInformation</servlet-name>
  	<url-pattern>/HKMInformation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>HKMInofCheck</servlet-name>
  	<url-pattern>/HKMInofCheck</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>HKMNewInfoCheck</servlet-name>
  	<url-pattern>/HKMNewInfoCheck</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>HKMInfoUpdate</servlet-name>
  	<url-pattern>/HKMInfoUpdate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FLTOwnerNewInfoCheck</servlet-name>
  	<url-pattern>/FLTOwnerNewInfoCheck</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FlatOwnerNewInfoCheck</servlet-name>
  	<url-pattern>/FlatOwnerNewInfoCheck</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FlatOwnerInformation</servlet-name>
  	<url-pattern>/FlatOwnerInformation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FlatOwnerUpdateInfoCehck</servlet-name>
  	<url-pattern>/FlatOwnerUpdateInfoCehck</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DwellerInformation</servlet-name>
  	<url-pattern>/DwellerInformation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DwellerNewInfoCheck</servlet-name>
  	<url-pattern>/DwellerNewInfoCheck</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DwellerUpdateInfoCehck</servlet-name>
  	<url-pattern>/DwellerUpdateInfoCehck</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DwellerViewInfoCheck</servlet-name>
  	<url-pattern>/DwellerViewInfoCheck</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DwellerUpdateInformation</servlet-name>
  	<url-pattern>/DwellerUpdateInformation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>viewInfosrvl</servlet-name>
  	<url-pattern>/viewInfosrvl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShowIndividualInfo</servlet-name>
  	<url-pattern>/ShowIndividualInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ApartmentInformation</servlet-name>
  	<url-pattern>/ApartmentInformation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>APTNewInfo</servlet-name>
  	<url-pattern>/APTNewInfo</url-pattern>
  </servlet-mapping>
</web-app>
